@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');
* {
  margin: 0;
  padding: 0;
}

body, button {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border-radius: 16px;
}

button {
  font-size: 16px;
  font-weight: bold;
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 8px 32px;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #1F2937;
  padding: 12px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header .links {
  color: #E5E7EB;
  display: flex;
  gap: 24px;
} 

/* Hero */
.hero {
  background-color: #1F2937;
  padding: 54px 0;
}

.hero .container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero p {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 12px;;
}

.hero button {
  border: none;
}

/* Info */
.info {
  padding: 48px 0;
}

.info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 30px;
}

.info .boxes {
  color: #51555c;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.info .box {
  max-width: 150px;
}

.info img {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
}

/* Quote */
.quote {
  color: #1F2937;
  background-color: #E5E7EB;
  padding: 54px 0;
}

.quote .container {
  max-width: 780px;
}

.quote .text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote .author {
  font-size: 24px;
  font-weight: bold;
  text-align: end;
}

/* CTA */
.cta {
  padding: 54px 0;
}

.cta .container {
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 36px 0;
}

.cta .text h2 {
  color: #F9FAF8;
}

.cta .text p {
  color: #E5E7EB;
}

.cta button {
  border: 2px solid #F9FAF8;
}

/* Footer */
.footer {
  color: #F9FAF8;
  background-color: #1F2937;
  font-size: 18px;
  text-align: center;
  padding: 24px;
}